<footer>
    <h1>Más Información</h1>
    <div class="footer__col-wrapper">
        <div class="footer__column">
            <h2>Acerca de la U.C.B.</h2>
            <ul class="footer__list">
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/">Acerca de nosotros</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/la-u-c-b/">La U.C.B.</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/mision-vision-e-identidad-catolica/">Misión, Visión e Identidad Católica</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/ceb-y-junta-directiva/">CEB y Junta Directiva</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/rectorado-nacional/">Rectorado Nacional</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/rectorado-nacional/perfil-rector/">Nuestro Rector Nacional</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/sedes-academicas-de-la-ucb/">Sedes Académicas</a></li>
                <li><a href="https://www.ucb.edu.bo/otros-programas-academicos/">Otros programas académicos</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/ucb-en-la-historia/">U.C.B. en la historia</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/materiales/">Materiales</a></li>
                <li><a href="https://www.ucb.edu.bo/acerca-de-nosotros/documentos/">Documentos</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h2>Unidades Académicas</h2>
            <ul class="footer__list">
                <li><a href="http://lpz.ucb.edu.bo/">Regional La Paz</a></li>
                <li><a href="https://cba.ucb.edu.bo/">Regional Cochabamba</a></li>
                <li><a href="https://scz.ucb.edu.bo/">Regional Santa Cruz</a></li>
                <li><a href="https://tja.ucb.edu.bo/">Regional Tarija</a></li>
                <li><a href="http://epc-ucb.edu.bo/epc/">Escuela de la producción y competitividad</a></li>
            </ul>
        </div>
    </div>
</footer>